header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

header label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#time-slider {
  width: 300px;
}

#selected-time,
#any-time {
  display: block;
  margin-top: 0.25em;
  font-size: 0.75em;
  text-align: right;
}

#any-time {
  color: gray;
  font-style: italic;
}

#selected-time {
  font-weight: bold;
}

.map {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: all !important;
}

circle {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}