header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-bottom: 0.5em;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#timeSlider {
  width: 300px;
}

#selectedTime,
#anyTime {
  display: block;
  margin-top: 0.25em;
  font-size: 0.75em;
  text-align: right;
}

#anyTime {
  color: gray;
  font-style: italic;
}

#selectedTime {
  font-weight: bold;
}

.map {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: all !important;
}